<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="tona is a responsive creative agency template">
    <meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">
    <!-- Title -->
    <title>Tona7</title>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <!-- Font awesome Core CSS -->
    <link rel="stylesheet" href="Templates/Tona7/css/font-awesome.min.css">
    <link rel="stylesheet" href="Templates/Tona7css/et-line.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="Templates/Tona7/css/bootstrap.min.css">
    <!-- main style CSS -->
    <link rel="stylesheet" href="Templates/Tona7/css/main.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="Templates/Tona7/css/style.css">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="Templates/Tona7/css/responsive.css">
    <!--[if lt IE 9]-->
    <script src="Templates/Tona7/js/html5shiv.min.js"></script>
    <!--[endif]-->
</head>
<body>
    <!-- ====== Preloader ======  -->
    <div class="loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <!-- ======End Preloader ======  -->
    <!-- ====== Header ======  -->
    <header class="tona-blog" data-stellar-background-ratio="0.5">
        <div class="blog-overlay">
            <!-- header content -->
            <div class="caption vertical-middle text-center">
                <h1>BLOG</h1>
                <span><a href="index.html">Home /</a></span>
                <span><a href="single-post.html"> Post</a></span>
            </div>
        </div>
    </header>
    <!-- ====== End Header ======  -->
    <!-- ====== posts ======  -->
    <section class="posts section-padding">
        <div class="container">
            <div class="row">
                <div class="main-post col-sm-9">
                    <!-- posts -->
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b1.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b2.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b3.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b4.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b2.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b3.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b4.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="post">
                            <div class="img-post">
                                <img src="img/blog/b1.jpg" alt="image">
                                <div class="img-overlay">
                                    <a href="single-post.html"><span class="icon-attachment"></span></a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-title text-center">
                                    <h6>ART / WEB DESIGN</h6>
                                    <h5 class="tit tit-center">We Love To Design</h5>
                                </div>
                                <p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
                            </div>
                            <div class="post-info">
                                <ul>
                                    <li><span class="icon-profile-male"></span> Admin</li>
                                    <li><span class="icon-heart"></span>149</li>
                                    <li><span class="icon-chat"></span>45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- side bar -->
                <div class="side-bar col-sm-3">
                    <!-- about -->
                    <div class="bars">
                        <div class="about-bar">
                            <h5 class="tit">About Me</h5><br>
                            <img src="img/blog/about.jpg" alt="image">
                            <p>Fusce ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce erat quis volutpat porta</p>
                        </div>
                    </div>
                    <!-- social icon -->
                    <div class="bars">
                        <div class="about-icon">
                            <h5 class="tit">Follow Us Now</h5><br>
                            <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                            <span><i class="fa fa-youtube" aria-hidden="true"></i></span>
                            <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                            <span><i class="fa fa-github" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <!-- popular posts -->
                    <div class="bars">
                        <div class="pop-posts">
                            <h5 class="tit">Popular Posts</h5>
                            <div class="pop-item">
                                <img src="img/blog/b1.jpg" alt="image">
                                <div class="pop-info">
                                    <h6>Web Design And Graphic</h6>
                                    <span>August 6, 2016</span>
                                </div>
                            </div>
                            <div class="pop-item">
                                <img src="img/blog/b2.jpg" alt="image">
                                <div class="pop-info">
                                    <h6>Web Design And Graphic</h6>
                                    <span>August 6, 2016</span>
                                </div>
                            </div>
                            <div class="pop-item">
                                <img src="img/blog/b3.jpg" alt="image">
                                <div class="pop-info">
                                    <h6>Web Design And Graphic</h6>
                                    <span>August 6, 2016</span>
                                </div>
                            </div>
                            <div class="pop-item">
                                <img src="img/blog/b4.jpg" alt="image">
                                <div class="pop-info">
                                    <h6>Web Design And Graphic</h6>
                                    <span>August 6, 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- categories -->
                    <div class="bars">
                        <div class="categ">
                            <h5 class="tit">Categories</h5>
                            <p>Web Design<span>20</span></p>
                            <p>Graphic Design<span>42</span></p>
                            <p>Fashion<span>5</span></p>
                            <p>Photography<span>13</span></p>
                            <p>Featured<span>22</span></p>
                            <p>Tona7<span>12</span></p>
                        </div>
                    </div>
                    <!-- instagram -->
                    <div class="bars">
                        <div class="inst">
                            <h5 class="tit">Instagram Feed</h5><br>
                            <img src="img/blog/s1.jpg" alt="image">
                            <img src="img/blog/s2.jpg" alt="image">
                            <img src="img/blog/s3.jpg" alt="image">
                            <img src="img/blog/s4.jpg" alt="image">
                            <img src="img/blog/s5.jpg" alt="image">
                            <img src="img/blog/s6.jpg" alt="image">
                        </div>
                    </div>
                    <!-- tags -->
                    <div class="bars">
                        <div class="tags">
                            <h5 class="tit">Tag Cloud</h5><br>
                            <span>Web</span>
                            <span>Graphic</span>
                            <span>Photo</span>
                            <span>Tona7</span>
                            <span>Fashion</span>
                            <span>Web</span>
                            <span>Graphic</span>
                            <span>Photo</span>
                            <span>Tona7</span>
                            <span>Fashion</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="clear-fix"></div>
    <!-- ====== End posts ======  -->
    <!--====== Footer ======-->
    <footer class="footer text-center">
        <p>Copy Right &copy; By HishamM 2017</p>
        <div class="social-icon">
            <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
            <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
            <span><i class="fa fa-youtube" aria-hidden="true"></i></span>
            <span><i class="fa fa-github" aria-hidden="true"></i></span>
        </div>
    </footer>
    <!--====== End Footer ======-->
    <!--====== js ======-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <!-- bootstrap -->
    <script src="Templates/Tona7/js/bootstrap.min.js"></script>
    <!-- singlePageNav -->
    <script src="Templates/Tona7/js/jquery.singlePageNav.min.js"></script>
    <!-- owl carousel -->
    <script src="Templates/Tona7/js/owl.carousel.min.js"></script>
    <!-- stellar js -->
    <script src="Templates/Tona7/js/jquery.stellar.min.js"></script>
    <!-- particleground -->
    <script src="Templates/Tona7/js/jquery.particleground.min.js"></script>
    <!-- typed js -->
    <script src="Templates/Tona7/js/typed.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="Templates/Tona7/js/isotope.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="Templates/Tona7/js/custom.js"></script>
</body>
</html>